<!DOCTYPE html>
<html>
<head>
    <title>Person Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>{{title}} Person Details</h1>
        <table class="table">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ person[0] }}</td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td>{{ person[1]}}</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>{{ person[2] }}</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>{{ person[3] }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ person[4] }}</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td>{{ person[5] }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ person[6] }}</td>
                </tr>
            </tbody>
        </table>
        <h3>Courses:</h3>
        <ul>
            {% for course in courses %}
            <li>{{ course }}</li>
            {% endfor %}
        </ul>

        <h3>Languages:</h3>
        <ul>
            {% for language in languages %}
            <li>{{ language }}</li>
            {% endfor %}
        </ul>

        <h3>Hobbies:</h3>
        <ul>
            {% for hobby in hobbies %}
            <li>{{ hobby }}</li>
            {% endfor %}
        </ul>

        <h3>Training:</h3>
        <ul>
            {% for train in training %}
            <li>{{ train }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>